<style>
  body {
    background: #E8AD6D;
  } 

  .l {
    width: 60px;
    height:240px; 
    background-color: #7E6293;
    border-radius: 40px 40px 40px 40px;
    position: absolute;
    top: 30px;
    left: 120px;
  }

  .rec {
    background-color: #7E6293;
    border-radius: 40px 40px 40px 0;
    position: absolute;
  }
  .r1 {
    width: 150px;
    height: 60px;
    top: 30px;
    left: 130px;
  }
  .r2 {
    width: 120px;
    height: 60px;
    top: 120px;
    left: 120px;
  }
</style>

<div class="l"></div>
<div class="rec r1"></div>
<div class="rec r2"></div>