<style>
  body {
    background: #6255AA;
  }
  .c {
    width: 60px;
    height: 60px;
    border: 30px solid #DE88AF;
    border-radius: 50%;    
    position: absolute;
  }

  .cl {
    top:90px;
    left:65px;
  }
  .cr {
    top:90px;
    left: 215px;
  }

  .rec {
    width: 30px;
    height: 150px;
    background-color: #DE88AF;
    position: absolute;
  }

  .l {
    top: 150px;
    left: 155px;
  }

  .r {
    top: 150px;
    left: 215px
  }

  .bar {
    width: 145px;
    height: 30px;
    background-color: #DE88AF;
    transform: translate(120px, 172px)
  }
  
</style>

<div>
    <div class="c cl"></div>
    <div class="c cr"></div>
    <div class="rec l"></div>
    <div class="rec r"></div>
    <div class="bar"></div>
</div>