<style>
  body {
    background: #2F5A76;
  }

 .qc {
  width: 110px;            
  height: 110px;           
  border-top-left-radius: 110px; 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  }

  .a {
    top: 40px;
    left: 90px;
    background-color: #F5BB60;
    transform: rotate(-90deg);
  }

  .b {
    top: 110px;
    background-color: #F56760;
    transform: rotate(90deg);
  }
  .c {
    top: 110px;
    background-color: #F5BB60;
    transform: rotate(90deg);
  }
  .d {
    top: 110px;
    background-color: #F56760;
    transform: rotate(90deg);
  }
</style>
<div>
  <div class= "qc a">
  <div class= "qc b">
  <div class= "qc c">
  <div class= "qc d">
  </div>
</div>