<style>
  body {
    background: #F2EAA8;
  }

    .g {
      border-radius: 50%;  /* Makes it a circle */
      background: linear-gradient(to right, #7E6293 50%, #DE6B67 50%);
      position: absolute;
    }

    .a {
      width: 200px;
      height: 200px;
      top: 50px;
      left: 25px;
      transform: rotate(90deg);
    }

    .b {
      width: 100px;
      height: 100px;
      top: 100px;
      left: 225px;
      transform: rotate(-90deg);
    }

    .c {
      width: 50px;
      height: 50px;
      top: 125px;
      left: 325px;
      transform: rotate(90deg);
    }
</style>

<div>
  <div class="g a"></div>
  <div class="g b"></div>
  <div class="g c"></div>
</div>