<style>
  body {
    background: #0B2429;
  }

  .r {
    width: 180px;
    height:60px;
    background-color: #F3AC3C;
    transform: translate(102px,52px);
  }

  .a {
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
  }

  .b {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
</style>

<div>
  <div class="r a"></div>
  <div class="r b"></div>
  <div class="r"></div>
</div>