@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.logo {
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
}
