<style>
  body {
    background: #9B8170;
  }
  .c {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #FFFFFF;
    transform: translate(102px, 83px) 
  }
  .cs {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #9B8170;
    transform: translate(20px, 20px) 
  }
  .s {
    width: 25;
    height: 25;
    background: #9B8170;
    position: absolute;
    border-radius: 0 7px 0 7px;
    transform: translate(27.5px, -2px) rotate(45deg);
  }
  .c:last-child {
    transform: translate(202px, 3px);
  }

  .sc {
    width: 140px;
    height: 100px;
    border-radius: 70px 70px 0 0;
    background: #FFFFFF;
    transform: translate(72px, -8px);
    position: relative;  /* Ensure z-index works */
    z-index: 1; 
  }
  .ssc {
    width: 100px;
    height: 60px;
    border-radius: 50px 50px 0 0;
    background: #9B8170;
    transform: translate(20px, 20px);
  }
  
  .sc:last-child {
    transform: translate(172px, -108px);
    z-index: 0; 
  }

  .sq {
    width: 20px;
    height: 20px;
    background-color: #9B8170;
    transform: translate(172px, 232px);
    position: absolute;
    z-index: 2;
  }
  .sq1 {
    width: 31px;
    height: 20px;
    background-color: #9B8170;
    transform: translate(252px, 158px) rotate(-45deg);
    position: absolute;
    z-index: 2;
  }
  
</style>

<div class="body">
  <div class="sq"></div>
  <div class="sq1"></div>
  <div> 
    <div class="c">
      <div class="cs"></div>
      <div class="s"></div>
    </div>
    <div class="c">
      <div class="cs"></div>
      <div class="s"></div>
    </div>
  </div>
  
  <div>
    <div class="sc">
      <div class="ssc"></div>
    </div>
    <div class="sc">
      <div class="ssc"></div>
    </div>
  </div>
  
</div>
